*{
    max-width: 400px;
    margin: 0 auto;
}
.button{
    background-color: tomato;
    border: none;
    width: 100px;
    height: 100px;
    font-weight: 700;
    font-size: 20px;
}
.button:hover{
    background-color: rgb(248, 123, 101);
    border: none;
    width: 100px;
    height: 100px;
    font-weight: 700;
    font-size: 20px;
}
/* .button:disabled{
    display: none;
} */
